{
  "extends": [
    "plugin:@oursky/eslint",
    "plugin:@oursky/typescript",
    "plugin:@oursky/react",
    "plugin:@oursky/react-hooks",
    "plugin:@oursky/react-native",
    "plugin:@oursky/oursky"
  ],
  "plugins": ["@oursky"],
  "env": {
    "browser": true
  },
  "parserOptions": {
    "sourceType": "module",
    "project": "./tsconfig.json"
  }
}
